html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code,
del, dfn, em, img, q, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,input,textarea,
article,aside,audio,canvas,command,datalist,details,dialog,embed,figure,header,hgroup,keygen,mark,meter,nav,output,progress,rp,rt,ruby,section,source,time,video
{ border:none;
     margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%;
     font-family: inherit; vertical-align: baseline; list-style:none;
}
.clearfix:after  {content: "."; display: block; height: 0; clear: both; visibility: hidden;}
.clearfix        {display: inline-block;}
.clearfix        {display: block;}
a:link, a:visited {     text-decoration:none;}
a:hover, a:active {     text-decoration:none;}
a{outline:none;*hide-focus: none;color:#006DDD;}
body,html{height:100%;}
body{font-family:Arial,\9ED1\4F53;font-size:12px;color:#8f939d;}


input::-webkit-input-placeholder {color : #838ca1;}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {-webkit-appearance: none !important;margin: 0 ;}
input,a{-webkit-tap-highlight-color :rgba(0,0,0,0);}

.content{width:100%;position:relative;z-index:2;overflow:hidden;}
.bg{position:fixed;top:0;left:0;width:100%;overflow:hidden;z-index:1;height:100%;}
.bg img{ display:block;height:100%;}
.applyMain{padding:45px 10px 0;}
.iptDiv{background:rgba(0,0,0,0.5) repeat;padding:0 16px;border:1px solid #404040; border-radius:2px; margin-top:18px;}
.iptDiv .iptTxt{padding:12px 0;background:none;border:none;width:100%;color:#cbced7;}
.btnDiv a{width:50%;margin:20% auto 0;display:block;}
.btnDivDif a{margin:20px auto 0;}
.btnDivDifent a{ margin:30px auto 0;}
.progress{ width:84%; margin:0 auto; background:url(pres.png) no-repeat;background-size:100% 100%;height:14px;display:block;padding-top:2px;padding-left:2px;}
.progressbar{ background:url(pressbar.png) no-repeat;height:10px;vertical-align:middle;background-size:100% 100%; border-radius:10px;}
.appmem{ background:url(member.png) no-repeat; text-align: center; width: 35px;height:25px; line-height:20px; position:absolute;left:65%;top:15px;}
.selectBox{position:relative;height:100%;width:100%;color:#838ca1;}	
.selectBox p{padding:14px 0;}
.selectBox select{position:absolute;top:0;left:-5px;height:100%;width:100%;z-index:5;background:transparent; border:none; color:#838ca1; font-size:100%;}
.selectBox span{display:block;height:100%;background:url(icon.png) no-repeat center right;background-size:16px;width:25px;position:absolute;top:0;right:0px;}
.tit{width:82%;margin:15px auto;}

.titOut li{ float:left; width:100px; text-align:center;}
.titOut li a{ color:#fff;}
.titOut li i{ background:url(icon1.png) no-repeat;height:20px; width:20px;background-size:16px;display:inline-block;position:relative;top:2px;}
.titOut li.curre i{ background:url(icon2.png) no-repeat;background-size:16px;}
.foun{ text-align:center;padding-top:15px;}

.keywordBox{ background:none repeat scroll 0 0 #131a2c; color:#999; position:absolute; left:0; top:40px; width:100%; min-height:80px; max-height:150px; overflow-y:auto;-webkit-overflow-scrolling: touch;}
.keywordlist{ line-height:24px; color:#cbced7; padding:8px 16px; border-bottom:1px  #404040 dotted; cursor:pointer}
.foun a{ color:#CCC;}
.choeckfu .checxLaDif{ color:#fff; width:50%; display:inline-block; float:left;padding-top:16px;}
.choeckfu .checxLaDif i{ background:url(check01.png) no-repeat; background-size:25px;height:25px; width:25px;display:inline-block;padding-right:3px; position:relative;top:2px;}
.choeckfu .checxLaDif.cur i{ background:url(check02.png) no-repeat;background-size:25px;height:25px; width:25px; }

.checkdui{ width:24%; margin:25% auto 30px;}
.fontimg{padding:0 35px;}